@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --font_family: 'rubik',sans-serif;
    --font_size: 1rem;
    --navy_950: hsl(226, 43%, 10%);
    --navy_900: hsl(235, 46%, 20%);
    --purple_500: hsl(235, 45%, 61%);
    --navy_200: hsl(236, 100%, 87%) ;
    --purple_600: hsl(246, 80%, 60%);

    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self_care: hsl(43, 84%, 65%);

}